.col-lg-6.col-lg-offset-3
  .well
    %h2 Reenviar instrucciones de confirmacion
    = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
      = devise_error_messages!
      .form-group
        = f.label :email, class: "form-label"
        %br/
        = f.email_field :email, autofocus: true, class: "form-control"
      .br-md= f.submit "Reenviar instrucciones de confirmacion", class: "btn btn-success btn-medium"
    = render "devise/shared/links"
