.col-lg-6.col-lg-offset-3
  .well
    %h2 Sign up
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = devise_error_messages!
      .form-group
        = f.label :email, class: "form-label"
        %br/
        = f.email_field :email, autofocus: true, class: "form-control"
      .form-group
        = f.label :password, class: "form-label"
        - if @validatable
          %i
            (#{@minimum_password_length} characters minimum)
        %br/
        = f.password_field :password, autocomplete: "off", class: "form-control"
      .form-group
        = f.label :password_confirmation, class: "form-label"
        %br/
        = f.password_field :password_confirmation, autocomplete: "off", class: "form-control"
      = f.submit "Sign up", class: "btn btn-success btn-medium"
    = render "devise/shared/links"
