%h1.text-center Seleccionar


.row.text-center
  .col-lg-4
    = link_to landing_hairstyles_path do
      = image_tag 'hairstyle.jpg'
    %h3 Peinado

  .col-lg-4
    = link_to landing_makeups_path do
      = image_tag 'makeup.jpg'
    %h3 Maquillaje

  .col-lg-4
    = link_to landing_nails_path do
      = image_tag 'nails.jpg'
    %h3 Uñas
