.container
  .well
    = form_for([:admin, @employee], html: { class: 'form-horizontal' }) do |f|
      .form-group
        = f.label 'Nombre'
        = f.text_field :name, class: 'form-control'

      .form-group
        = f.label 'NIE'
        = f.text_field :nie, class: 'form-control'

      .form-group
        = f.label 'Email'
        = f.text_field :email, class: 'form-control'

      .form-group
        = f.label 'Banco'
        = f.text_field :bank, class: 'form-control'

      .form-group
        = f.label 'Número de cuenta'
        = f.text_field :account_number, class: 'form-control'

      .form-group
        = f.label 'Número de seguridad social'
        = f.text_field :social_security_number, class: 'form-control'

      .form-group
        = f.label 'Ciudad'
        = f.text_field :city, class: 'form-control'

      .form-group
        = f.label 'Calle y Número'
        = f.text_field :address, class: 'form-control'

      .form-group
        = f.label 'Código Postal'
        = f.text_field :zip, class: 'form-control'

      .form-group
        = f.label 'Teléfono'
        = f.text_field :phone, class: 'form-control'

      .form-group
        = f.label 'Foto'
        = f.file_field :avatar

      .form-group
        = f.label 'Salón'
        = f.select :office_id,  offices_list, class: 'form-control'

      = f.submit 'Guardar', class: 'btn btn-success'