.row
  .col-lg-12
    %h1.page-header Lista de estilistas
    %ol.breadcrumb
      %li.active
        %i.fa.fa-users Estilistas

    .table-responsive
      %table.table.table-bordered.table-hover.table-striped
        %thead
          %tr
            %th Nombre
            %th Numero de empleado
            %th Numero de citas asignadas
            %th Numero de citas completadas
            %th Balance de ingresos
            %th Ver disponibilidad de horario
        %tbody

        %tbody
          - @employees.each do |employee|
            %tr
              %td
                = link_to employee.name, admin_employee_path(employee)
              %td= employee.id
              %td
              %td
              %td
              %td

      = will_paginate @employees
