.row
  .col-lg-12
    %h1.page-header Estilista
    %ol.breadcrumb
      %li.active
        %i.fa.fa-users Estilistas

    .text-center
      %h2= @employee.name
      = image_tag @employee.avatar(:medium)
      %br

      %h3= "Telefono: #{@employee.phone}"
      %h3= "Salon: #{@employee.office.name}"
      %h3= "NIE: #{@employee.nie}"
      %h3= "Número de seguridad social: #{@employee.social_security_number}"
      %h3= "Banco: #{@employee.bank}"
      %h3= "Número de cuenta: #{@employee.account_number}"
      %h3= "Email: #{@employee.email}"
      %h3= "Dirección: #{@employee.full_address}"

      = link_to 'Editar', edit_admin_employee_path(@employee), class: 'btn btn-success'
      = link_to 'Eliminar', admin_employee_path(@employee), method: :delete, class: 'btn btn-danger'
