.row
  .col-lg-12
    %h1.page-header Lista de uñas
    %ol.breadcrumb
      %li.active
        %i.fa.fa-scissors Uñas

    .table-responsive
      %table.table.table-bordered.table-hover.table-striped
        %thead
          %tr
            %th
            %th Nombre
            %th Duración
            %th Costo
            %th Detalle
        %tbody

        %tbody
          - @nails.each do |n|
            %tr
              %td
                = image_tag n.image(:thumb)
              %td
                = link_to n.name, admin_nails_path(n)
              %td
                = n.duration
              %td
                = n.cost
              %td
                = n.detail

