.row
  .col-lg-12
    %h1.page-header Uñas
    %ol.breadcrumb
      %li.active
        %i.fa.fa-scissors Uñas

    .text-center
      %h2= @nail.name
      = image_tag @nail.image(:thumb)
      %br

      %h3= "Duración: #{@nail.duration}"
      %h3= "Costo: #{@nail.cost}"
      %h3= "Detalle: #{@nail.detail}"
      %h3= "Número de veces asignado: "


      = link_to 'Editar', edit_admin_nail_path(@nail), class: 'btn btn-success'
      = link_to 'Eliminar', admin_nail_path(@nail), method: :delete, class: 'btn btn-danger'
