.container
  .well
    = form_for([:admin, @makeup ], html: { class: 'form-horizontal' }) do |f|
      .form-group
        = f.label 'Nombre'
        = f.text_field :name, class: 'form-control'

      .form-group
        = f.label 'Duración'
        = f.text_field :duration, class: 'form-control'

      .form-group
        = f.label 'Costo'
        = f.text_field :cost, class: 'form-control'

      .form-group
        = f.label 'Imagen'
        = f.file_field :avatar

      = f.submit 'Guardar', class: 'btn btn-success'