.row
  .col-lg-12
    %h1.page-header Lista de Maquillajes
    %ol.breadcrumb
      %li.active
        %i.fa.fa-scissors Maquillajes

    .table-responsive
      %table.table.table-bordered.table-hover.table-striped
        %thead
          %tr
            %th
            %th Nombre
            %th Duración
            %th Costo
        %tbody

        %tbody
          - @makeups.each do |makeup|
            %tr
              %td
                = image_tag makeup.avatar.url(:thumb)
              %td
                = link_to makeup.name, admin_makeup_path(makeup)
              %td
                = makeup.duration
              %td
                = makeup.cost

