.row
  .col-lg-12
    %h1.page-header Maquillaje
    %ol.breadcrumb
      %li.active
        %i.fa.fa-paint-brush Maquillajes

    .text-center
      %h2= @makeup.name
      = image_tag @makeup.avatar.url(:medium)
      %br

      %h3= "Duración: #{@makeup.duration}"
      %h3= "Costo: #{@makeup.cost}"
      %h3= "Número de veces asignado: "


      = link_to 'Editar', edit_admin_makeup_path(@makeup), class: 'btn btn-success'
      = link_to 'Eliminar', admin_makeup_path(@makeup), method: :delete, class: 'btn btn-danger'
