.row
  .col-lg-12
    %h1.page-header
      BiuBiu
      %small Bienvenido

.row.alert.alert-info.alert-dismissable
  %button.close{:type => 'button', 'data-dismiss' => 'alert', 'aria-hidden' => 'true'} x
  %i.fa.fa-info-circle
  %srong Bienvenido a biubiu
  en esta pantalla te mostraremos información relevante de tu negocio, ahora agregra a un estilista

.row
  .col-lg-3.col-md-6
    .panel.panel-primary
      .panel-heading
        .row
          .col-xs-3
            %i.fa.fa-users.fa-5x
          .col-xs-9.text-right
            .huge 26
            %div Clientes

      = link_to '#' do
        .panel-footer
          %span.pull-left Ver detalles
          %span.pull-right
            %i.fa.fa-arrow-circle-right
          .clearfix

  .col-lg-3.col-md-6
    .panel.panel-green
      .panel-heading
        .row
          .col-xs-3
            %i.fa.fa-check-square-o.fa-5x
          .col-xs-9.text-right
            .huge 32
            %div Citas

      = link_to '#' do
        .panel-footer
          %span.pull-left Ver detalles
          %span.pull-right
            %i.fa.fa-arrow-circle-right
          .clearfix

  .col-lg-3.col-md-6
    .panel.panel-yellow
      .panel-heading
        .row
          .col-xs-3
            %i.fa.fa-user.fa-5x
          .col-xs-9.text-right
            .huge 66
            %div Estilistas

      = link_to '#' do
        .panel-footer
          %span.pull-left Ver detalles
          %span.pull-right
            %i.fa.fa-arrow-circle-right
          .clearfix

  .col-lg-3.col-md-6
    .panel.panel-red
      .panel-heading
        .row
          .col-xs-3
            %i.fa.fa-eur.fa-5x
          .col-xs-9.text-right
            .huge 456
            %div Ingresos

      = link_to '#' do
        .panel-footer
          %span.pull-left Ver detalles
          %span.pull-right
            %i.fa.fa-arrow-circle-right
          .clearfix
