%h1 Peinados
- @hairstyles.each do |h|
  .col-lg-4
    = link_to landing_hairstyle_path(h) do
      = image_tag h.image(:thumb)

    %h5= h.name
    %h6= h.detail
    %p= "$ #{h.cost}"
    %p= h.duration
    %br
    %br

