.container
  .well
    = form_for([:admin, @office ], html: { class: 'form-horizontal' }) do |f|
      .form-group
        = f.label 'Nombre'
        = f.text_field :name, class: 'form-control'

      .form-group
        = f.label 'Dirección'
        = f.text_field :address, class: 'form-control'

      .form-group
        = f.label 'Ciudad'
        = f.text_field :city, class: 'form-control'

      .form-group
        = f.label 'Código postal'
        = f.text_field :zip_code,  class: 'form-control'

      .form-group
        = f.label 'Teléfono'
        = f.text_field :phone,  class: 'form-control'

      = f.submit 'Guardar', class: 'btn btn-success'