.row
  .col-lg-12
    %h1.page-header Lista de salones
    %ol.breadcrumb
      %li.active
        %i.fa.fa-building Salones

    .table-responsive
      %table.table.table-bordered.table-hover.table-striped
        %thead
          %tr
            %th Nombre
            %th Direccion
            %th Telefono
            %th Ciudad
            %th
            %th
        %tbody

        %tbody
          - @offices.each do |office|
            %tr
              %td
                = link_to office.name, admin_office_path(office)
              %td= office.address
              %td= office.phone
              %td= office.city
              %td
                = link_to "Editar", edit_admin_office_path(office)
              %td
                = link_to "Eliminar", admin_office_path(office), method: :delete, data: {confirm: "¿Estas seguro?"}
