.row
  .col-lg-12
    %h1.page-header Salon
    %ol.breadcrumb
      %li.active
        %i.fa.fa-building Salones

    .text-center
      %h2= @office.name

      .row
        .col-lg-6
          -#%img{src: "http://maps.googleapis.com/maps/api/staticmap?center=#{@office.latitude},#{@office.longitude}&zoom=16&size=600x300&sensor=false&markers=size:big%7C#{@office.latitude},#{@office.longitude}&key=#{ENV["API_KEY"]}"}
          %img{:src => 'http://placehold.it/300x200'}
        .col-lg-6
          %br
          %ul
            %li
              %strong Nombre:
              = @office.name
            %li
              %strong Dirección:
              = @office.address
            %li
              %strong Código Postal:
              = @office.zip_code
            %li
              %strong Teléfono:
              = @office.phone

