%h1 Uñas
- @nails.each do |n|
  .col-lg-4
    = link_to landing_nails_path(n) do
      = image_tag n.image(:thumb)

    %h5= n.name
    %h6= n.detail
    %p= "$ #{n.cost}"
    %p= n.duration
    %br
    %br

