@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'toastr.css';
@import 'bootstrap-social.css';


@import '../stylesheets/*';

#main {
  min-height: 725px;
}

.caret-right {
  float: right;
}