// Place all the styles related to the offices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row ul {
  float: left;
  list-style-type: none;
  li {
    font-size: 18px;
  }
}

.row img {
  border-radius: 10px;
  float: right;
}
