.row
  .col-lg-12
    %h1.page-header Lista de peinados
    %ol.breadcrumb
      %li.active
        %i.fa.fa-scissors Peinados

    .table-responsive
      %table.table.table-bordered.table-hover.table-striped
        %thead
          %tr
            %th
            %th Nombre
            %th Duración
            %th Costo
            %th Detalle
        %tbody

        %tbody
          - @hairstyles.each do |hairstyle|
            %tr
              %td
                = image_tag 'hairstyle.jpg'
              %td
                = link_to hairstyle.name, admin_hairstyle_path(hairstyle)
              %td
                = hairstyle.duration
              %td
                = hairstyle.cost
              %td
                = hairstyle.detail

