.row
  .col-lg-12
    %h1.page-header Peinado
    %ol.breadcrumb
      %li.active
        %i.fa.fa-scissors Peinados

    .text-center
      %h2= @hairstyle.name
      = image_tag @hairstyle.image(:thumb)
      %br

      %h3= "Duración: #{@hairstyle.duration}"
      %h3= "Costo: #{@hairstyle.cost}"
      %h3= "Detalle: #{@hairstyle.detail}"
      %h3= "Número de veces asignado: "


      = link_to 'Editar', edit_admin_hairstyle_path(@hairstyle), class: 'btn btn-success'
      = link_to 'Eliminar', admin_hairstyle_path(@hairstyle), method: :delete, class: 'btn btn-danger'
