.navbar-header
  - if user_signed_in? && current_user.is_admin?
    = link_to "Biu Biu - Gestión", root_path, class: "navbar-brand"
  - else
    = link_to "Biu Biu", root_path, class: "navbar-brand"

.navbar-collapse.collapse#navbar-main
  %ul.nav.navbar-nav.navbar-right.top-nav
    - if user_signed_in?
      -#%li= link_to "Account", user_path(current_user), id: "account"
      %li.dropdown
        = link_to '#', class: 'dropdown-toggle', 'data-toggle': 'dropdown', 'aria-expanded': 'false' do
          %i.fa.fa-user &nbsp;Elia Gonzalez
          %b.caret
          %ul.dropdown-menu
            %li
              = link_to '#' do
                %i.fa.fa-fw.fa-user &nbsp;Perfil
            %li.divider
            %li
              = link_to destroy_user_session_path, method: 'delete' do
                %i.fa.fa-fw.fa-power-off &nbsp;Cerrar sesión
    - else
      %li= link_to "Ingreso", new_user_session_path
      %li= link_to "Registrar", new_user_registration_path
