.collapse.navbar-collapse.navbar-ex1-collapse
  %ul.nav.navbar-nav.side-nav
    %li
      = link_to 'javascript:;', 'data-toggle': 'collapse', 'data-target': '#estilistas', 'aria-expanded': 'false'  do
        %i.fa.fa-fw.fa-user &nbsp;Estilistas
        %i.fa.fa-fw.fa-caret-down.caret-right
      %ul#estilistas.nav.nav-second-level.collapse{'aria-expanded': 'false'}
        %li
          = link_to 'Agregar', new_admin_employee_path
        %li
          = link_to 'Mis agentes', admin_employees_path
    %li
      = link_to 'javascript:;', 'data-toggle': 'collapse', 'data-target': '#peinados', 'aria-expanded': 'false'  do
        %i.fa.fa-fw.fa-scissors &nbsp;Peinados
        %i.fa.fa-fw.fa-caret-down.caret-right
      %ul#peinados.nav.nav-second-level.collapse{'aria-expanded': 'false'}
        %li
          = link_to 'Agregar', new_admin_hairstyle_path
        %li
          = link_to 'Mis peinados', admin_hairstyles_path
    %li
      = link_to 'javascript:;', 'data-toggle': 'collapse', 'data-target': '#maquillaje', 'aria-expanded': 'false'  do
        %i.fa.fa-fw.fa-paint-brush &nbsp;Maquillaje
        %i.fa.fa-fw.fa-caret-down.caret-right
      %ul#maquillaje.nav.nav-second-level.collapse{'aria-expanded': 'false'}
        %li
          = link_to 'Agregar', new_admin_makeup_path
        %li
          = link_to 'Mis maquillajes', admin_makeups_path
    %li
      = link_to 'javascript:;', 'data-toggle': 'collapse', 'data-target': '#unas', 'aria-expanded': 'false'  do
        %i.fa.fa-fw.fa-tint &nbsp;Uñas
        %i.fa.fa-fw.fa-caret-down.caret-right
      %ul#unas.nav.nav-second-level.collapse{'aria-expanded': 'false'}
        %li
          = link_to 'Agregar', new_admin_nail_path
        %li
          = link_to 'Mis uñas', admin_nails_path
    %li
      = link_to 'javascript:;', 'data-toggle': 'collapse', 'data-target': '#salones', 'aria-expanded': 'false'  do
        %i.fa.fa-fw.fa-building &nbsp;Salones
        %i.fa.fa-fw.fa-caret-down.caret-right
      %ul#salones.nav.nav-second-level.collapse{'aria-expanded': 'false'}
        %li
          = link_to 'Agregar', new_admin_office_path
        %li
          = link_to 'Mis salones', admin_offices_path
    %li
      = link_to root_path do
        %i.fa.fa-fw.fa-users &nbsp;Clientes
    %li
      = link_to root_path do
        %i.fa.fa-fw.fa-check-square-o &nbsp;Citas
    %li
      = link_to root_path do
        %i.fa.fa-fw.fa-pie-chart &nbsp;Balance de ingresos

