!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Biubiu
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true

    <!-- Custom CSS -->
    = stylesheet_link_tag 'sb-admin'

    <!-- Custom Fonts -->
    = stylesheet_link_tag '/font-awesome/css/font-awesome.min'

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    %script{src: "https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"}
    %script{src: "https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"}
    <![endif]-->
    = csrf_meta_tags
  %body
    %div
      %nav.navbar.navbar-inverse.navbar-fixed-top
        .container-fluid
          = render 'layouts/navbar'
          - if user_signed_in? && current_user.is_admin
            = render 'layouts/sidebar'

      #page-wrapper
        .container-fluid#main

          = yield
          = debug(params) if Rails.env.development?

    :javascript
      toastr.options = {
        positionClass: "toast-top-left",
        timeout: "2000",
        extendedTimeout: "2000",
      }

    %script{:src => 'js/bootstrap.min.js'}

    = custom_flash_messages
